<section>
  <h2>Create New Blog Post</h2>

  <form class="new-post-form">
    <div class="mb-3">
      <label for="post-title" class="form-label"><h6>Title</h6></label>
      <input type="text" class="form-control" id="post-title" name="post-title" />
    </div>
    <div class="mb-3">
      <label for="post-content" class="form-label"><h6>Text</h6></label>
      <textarea id="post-content" class="form-control" rows="3" name="post-content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
{{!-- <script src="javascript/add-post.js"></script> --}}